body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.outline{
    background:url("cssimg/milad-fakurian-E8Ufcyxz514-unsplash.jpg");
    background: black;
    background-size: cover; 
    background-position: center;
    position: fixed;
    height:100%;
    width: 100%;
}
.in{
    position: relative;
}
.center{
    margin:auto;
    overflow: hidden;
    width: 90%;
    border-radius: 10px;
    display: grid;
    grid-template-columns:650px 1fr;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.left{
    height:750px;
    overflow: hidden;
}
.right{
    background: rgb(255,255,255,0.12);
    backdrop-filter:blur(5px);
}
.txtarea{
    width: 400px;
    margin: auto;
    position: relative;
}
.tb{  
    background: rgb(0,0,0,0.2);
    margin: auto;
    margin-bottom: 20px; 
    backdrop-filter:blur(15px);
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding-left: 50px;  
    outline:none;
    font-size: 20px;
    border:none;
}
.lbl{
    margin:5px 0px 0px 5px;
    z-index: 5;
    position: absolute;
    top:10px;
}
.button{
    width: 100px;
    text-align: center;
    padding: 0;
    transition: all .5s;
}
.button:hover{
    background: rgb(255,255,255,0.2);
    backdrop-filter:blur(50px);
}
.showimage{
    max-height: 240px;
    max-width: 1200px;
    background:red;
}
.right{
    padding:30px;

}
.left h1{
    margin-bottom: 70px;
}
.tablec{
    padding: 25px;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
}
.tblhead{
    border:none;
}
table{
    font-size: 30px;
    border:none;
    margin:20px;
}

