@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "neob";
  src: url("fonts/neo_sans_std_bold-webfont.woff2") format("woff2"),
    url("fonts/neo_sans_std_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neol";
  src: url("fonts/neo_sans_std_light-webfont.woff2") format("woff2"),
    url("fonts/neo_sans_std_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "neor";
  src: url("fonts/neo_sans_std_regular-webfont.woff2") format("woff2"),
    url("fonts/neo_sans_std_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

* {
  font-family: "Staatliches";
}

h1 {
  font-size: 100px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 0;
  backdrop-filter: blur(10px);
}

.container {
  position: absolute;
  left: 140px;
  top: 260px;
  font-family: "Blinker";
  font-size: 50px;
  font-weight: 100;
  text-align: left;
}

center {
  text-align: left;
  height: 700px;
  /* width: 100%; */
}

a {
  font-weight: 100;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.img {
  height: 500px;
  top: 110px;
  right: 30px;
  animation: bgchange 1s ease-in-out forwards;
}

@keyframes text {
  0% {
    left: 0;
    opacity: 0;
  }

  100% {
    left: 140px;
    opacity: 1;
  }
}

@keyframes bgchange {
  0% {
    top: 0;
    opacity: 0;
  }

  100% {
    opacity: 1;
    top: 230px;
  }
}

@keyframes featuredtxt {
  0% {
    left: -30px;
  }

  100% {
    left: 70px;
  }
}

@keyframes ftxthide {
  0% {
    left: 70px;
  }

  100% {
    left: -30px;
  }
}

.a {
  position: absolute;
}

.cardmain {
  height: 600px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 20px;
}

.featured {
  right: 50px;
}

.r {
  position: relative;
}

.cardmain {
  padding: 10px;
}

.cardmain h1 {
  font-weight: 600;
  font-family: "Blinker";
  font-size: 100px;
}

.cardmain h2 {
  font-family: "Ubuntu Mono";
}

.cardmain p {
  width: 900px;
  font-family: "Blinker";
  font-size: 25px;
  word-spacing: 2px;
}

.cardmain button {
  background: black;
  color: white;
  border: none;
  height: 30px;
  width: 100px;
}

.active {
  opacity: 0;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes bghide {
  0% {
    opacity: 1;
    top: 110px;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}

@keyframes fimage {
  0% {
    top: -50px;
  }

  100% {
    top: 10px;
  }
}

@keyframes fimghide {
  0% {
    top: 10px;
  }

  100% {
    top: -50px;
  }
}
.parts {
  padding: 20px;
  margin: 20px;
  font-size: 30px;
}
.parts .text h1 {
  font-size: 50px;
}
.parts p {
  font-family: "Ubuntu";
  width: 900px;
  font-size: 25px;
}
.parts img {
  width: 400px;
  right: 0;
  top: 0;
}

#processor{
  width: 800px;
  right: 0;
  top: 0;

}